body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#page-container {
    display: flex;
    flex-direction: row;
}

#main-image {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    width: 40%;
    height: 100vh;
}

#logo {
    background-color: rgb(18, 17, 17, 0.5);
    display: flex;
    flex-flow: row wrap;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 200px;
}

#logo p {
    color: white;
    font-size: 8rem;
    display: inline-block;
    font-family: Norse-Bold;
    margin: 0;
    padding: 0;
}

#photo-credit {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
    font-size: 0.75rem;
    opacity: 75%;
}

#photo-credit a {
    color: white;
}

#form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#form-header, #form-footer {
    height: 35%;
    background-color: rgb(240, 240, 240);
}

#form-header p {
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    top: 125px;
    padding: 0px 30px;
}

#form-container {
    height: 30%;
}

#form-title {
    grid-column: 1 / span 2;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 15px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 80px;
    margin-right: 80px;
}


.input {
    display: flex;
    flex-flow: column wrap;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bolder;
    box-sizing: border-box;
    padding: 10px;
    gap: 3px;
}

input {
    border: 1px solid #6e964b;
    border-radius: 3px;
    height: 1.5rem;
}

input:focus {
    background-color: #6c9a452d;
    border: 2px solid #456628;
    outline: none;
}

.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    display: none;
}

#form-footer p {
    margin-left: 60px;
}

#form-footer a {
    color: #456628;
    text-decoration: none;
}

button {
    width: 175px;
    height: 50px;
    background-color: #456628;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}